@use '@angular/material' as mat;

@include mat.core();

$primary-palette: mat.define-palette(mat.$green-palette);
$accent-palette: mat.define-palette(mat.$blue-palette);
$warn-palette: mat.define-palette(mat.$red-palette);
$tertiary-palette: mat.define-palette(mat.$blue-palette);

$theme: mat.define-light-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
    warn: $warn-palette,
    tertiary: $tertiary-palette,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($theme);

// Styles custom
.mat-mdc-form-field.mat-focused .mdc-notched-outline__leading,
.mat-mdc-form-field.mat-focused .mdc-notched-outline__notch,
.mat-mdc-form-field.mat-focused .mdc-notched-outline__trailing {
  border-color: #198754 !important;
}

.mat-mdc-form-field.mat-focused .mdc-floating-label {
  color: #198754 !important;
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  margin: 0;
  height: 100%;
  font-size: 16px;
}
