<h1>Prestations Web</h1>

<div class="sections-container">
    <section>
        <h2><span aria-hidden="true">🎯</span> Création de sites</h2>
        Des sites web professionnels, rapides et accessibles, livrés clé en main. Idéal pour les PME, associations ou
        indépendants souhaitant une présence en ligne efficace.
        <ul class="wp-block-list list-ok ">
            <li>Design responsive</li>
            <li>Optimisation SEO par NestJs et Angular SSE</li>
            <li>Navigation mobile et desktop en WPA (Web Progressive Application)</li>
            <li>Accessibilité intégrée</li>
            <li>Hébergement et maintenance en option</li>
        </ul>
    </section>

    <section>
        <h2><span aria-hidden="true">🎯</span> Développement Front-end Angular</h2>
        <ul class="wp-block-list list-ok  mb-5">
            <li>Angular, RxJS, TypeScript</li>
            <li>Intégration avec API REST</li>
            <li>Tests NVDA / ARIA / WCAG</li>
            <li>Performance et sécurité</li>
        </ul>
    </section>

    <section>
        <h2><span aria-hidden="true">🎯</span> Intégration de bases de données (SQL, NoSQL, Cloud)</h2>
        Je connecte votre site ou application à la base de données la plus adaptée à vos besoins :
        MySQL, PostgreSQL, MariaDB, SQL Server, Oracle, MongoDB, Redis, Elasticsearch, Firebase, Supabase, etc.
        <ul class="wp-block-list list-ok  mb-5">
            <li>Connexion à une base existante</li>

            <li>Création d’une nouvelle base optimisée</li>

            <li>Migration ou modernisation d’un système existant</li>

            <li>API sécurisée pour vos données</li>

            <li>Performances, sécurité, accessibilité et SEO intégrés</li>
        </ul>
    </section>


    <section>
        <h2><span aria-hidden="true">🎯</span> Audit accessibilité</h2>
        Évaluation complète de votre site ou application selon les normes WCAG 2.1. Rapport détaillé avec priorisation
        des corrections.
        <ul class="wp-block-list list-ok  mb-5">
            <li>Tests NVDA / VoiceOver</li>
            <li>Analyse ARIA / HTML sémantique</li>
            <li>Recommandations concrètes</li>
            <li>Conformité WCAG</li>
        </ul>
    </section>

    <section>
        <h2><span aria-hidden="true">🎯</span> Mise en conformité accessibilité WCAG</h2>
        Je vous accompagne dans la correction des non-conformités pour rendre votre site accessible à tous, y compris
        aux personnes en situation de handicap.

        <ul class="wp-block-list list-ok  mb-5">
            <li>Formation des équipes</li>
            <li>Mise en oeuvre des bonne pratiques</li>
            <li>Suivi et évaluation</li>
            <li>Documentation technique</li>
        </ul>
    </section>

    <section>
        <h2><span aria-hidden="true">🎯</span> Coaching Wordpress</h2>
        Formations pratiques pour apprendre à créer, gérer et optimiser un site WordPress accessible. Idéal pour les
        communicants, développeurs ou responsables de contenu.

        <ul class="wp-block-list list-ok  mb-5">
            <li>Installation & configuration</li>
            <li>Création de pages et menus</li>
            <li>Accessibilité dans WordPress</li>
            <li>Exercices sur site réel</li>
        </ul>
    </section>

</div>