:host {
     @import "../../styles-colors.scss";
    background-color: $background-color;
    
    color: #FFF;

    a {
        text-decoration: none;
        :hover {
            text-decoration: none;
        }
    }

    .title {
        color: #9BE5B3;
    }

    a:hover {
        text-decoration: underline;
    }
   
}